<header>
  <span>Internet Entrepreneurs Gallery</span>
</header>
<main>
  <div class="wrapper">
    <div class="cards">
      <card id="google" title="Larry Page and Sergey Brin" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
      <card id="facebook" title="Mark Zuckerberg" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
      <card id="apple" title="Steve Jobs" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
      <card id="microsoft" title="Bill Gates" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
      <card id="amazon" title="Jeff Bezos" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
      <card id="tesla" title="Elon Musk" desc="Lorem ipsum dolor sit amet, ea postea graeci meliore pro. Stet choro nostrum ex quo, est dicant nonumy philosophia ne. "></card>
    </div>
  </div>
</main>
